//----------------------------------------------
// Family: Lora
//
// Regular: 400
// Bold: 700
//----------------------------------------------

// Regular
// @font-face {
//   font-family: 'Lora';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Lora Regular'), local('Lora-Regular'), url(https://fonts.gstatic.com/s/lora/v12/rAXKWvABQNHjPUk26ixVvvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
// }

// @font-face {
//   font-family: 'Rubik';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Rubik Regular'), local('Rubik-Regular'), url(https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet);
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
// }


// Bold
// @font-face {
//   font-family: 'Lora';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Lora Bold'), local('Lora-Bold'), url(https://fonts.gstatic.com/s/lora/v12/mlTYdpdDwCepOR2s5kS2CwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
// }

// @font-face {
//   font-family: 'Rubik';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Rubik Bold'), local('Rubik-Bold'), url(https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet);
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
// }

// Regular
// Regular
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet);
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

// Regular
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Bold'), local('Nunito-Bold'), url(https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet);
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
