//----------------------------------------------
// Family: Nunito
//
// Regular: 400
// Bold: 700
//----------------------------------------------

// Regular
// Regular
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Sans'), local('Nunito-Sans'), url(https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;1,400&display=swap" rel="stylesheet");
}

// Regular
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Bold'), local('Nunito-Bold'), url(https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet);
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
