//----------------------------------------------
// Family: Roboto
//
// Regular: 400
// Bold: 700
//----------------------------------------------

// Regular
// Regular
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik Regular'), local('Rubik-Regular'), url(https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

// Regular
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local('Rubik Bold'), local('Rubik-Bold'), url(https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
